/* https://css-tricks.com/perfect-full-page-background-image/ Provided some assistance
Could not get backgound-image to work with cover once the doctype:html was set. */
html { 
    background: url(images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    color: seashell;
    font-family: 'Share Tech Mono', monospace;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: sticky
}
nav li {
    float: right;
}

nav .item{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: seashell;
}

nav .item:hover {
    background-color: rgba(255, 255, 255, 0.171);
    border-radius: 10px;
}

#logo {
   text-align: center;
   font-weight: bold;
   font-size: 125px;
}

#routes-receiving {
    text-align: center;
    font-size: 35px;
}

.about {
    margin: 10px;
    background-color: rgba(53, 38, 17, 0.75);
    border-radius: 10px;
    padding: 10px;
}

.about h2 {
    margin: 10px;
    font-weight: bold;
    text-align: center;
}

.about p {
    margin: 10px;
    padding: 10px, 10px, 10px;
}


.table {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.about ul {
    list-style-type: none;
    overflow: hidden;
    padding-left: 0;
}

.about li {
    float: left;
    background-color: rgba(255, 255, 255, 0.233);
    border-radius: 10px;
    margin: 10px;
}

.about li img {
    height: 50px;
}

.about .item{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: seashell;
}